* {
  margin: 0px;
  font-family: Helvetica, Arial;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerbox {
  display: flex;
  width: 1170px;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: space-between;
}

.header-logo {
  height: 40px;
}

.header-links-container {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-burger {
  display: none;
}

.burger-icon {
  color: white;
}

.header-link:hover {
  color: #38c63c;
}

.container-emoji {
  display: flex;
}

.premiumCard {
  margin-top: 80px;
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: center;
}

.premiumCardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  padding: 1rem;
  padding-top: 60px;
  padding-bottom: 60px;
  row-gap: 2rem;
}

.premiumInfo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.premiumRight {
  padding: 1rem;
  padding-top: 4rem;
}

.getPremiumBtn {
  background-color: black;
  border-radius: 2rem;
  padding: 1rem;
  width: fit-content;
}

.premiumImg {
  max-width: 400px;
}

.freeCard {
  background-image: url(./green-blobs.svg);
  background-repeat: no-repeat;
  background-color: rgb(41, 65, 171);
  background-size: 100%;
  background-position: right center;
  display: flex;
  justify-content: center;
}

.freeCardContent {
  display: flex;
  justify-content: center;
  max-width: 1170px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 10rem 20rem;
  color: wheat;
  background-color: black;
}

@media only screen and (max-width: 900px) {
  .premiumCardContent {
    flex-wrap: wrap;
  }

  .header-links-container {
    display: none;
  }

  .header-burger {
    display: flex;
    align-items: center;
  }

  .premiumImg {
    max-width: 300px;
  }
}
