.freeCard {
  background-image: url("/images/circles-mobile.svg");
}

.footerLinksContainer {
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 2rem;
  gap: 2.6rem;
}

.cardHeader {
  font-size: 1.7rem;
  font-weight: 900;
  margin-top: 3rem;
}

.cardBodyText {
  font-size: 1rem;
}

.premiumCard .cardBtn {
  width: 100%;
  text-align: center;
}

.bottomFooterLeft {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  column-gap: 1.2rem;
}

.copyright {
  white-space: nowrap;
}

.footerBottomContainer {
  width: auto;
}

.footerSocialsLinksContainer {
  margin-top: 2rem;
}

.bottomFooterContainer a {
  font-size: 0.4rem;
}

.container {
  margin: 0.2rem;
}
