.container {
  max-width: 700px;
}

.freeCard {
  height: 480px;
}

header {
  height: 50px;
}

header .logo {
  height: 30px;
}

.header-links-container {
  display: none;
}

.header-burger {
  display: flex;
  padding: 1rem;
}

footer .logo {
  height: 20%;
}

.footerLinksContainer {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footerTopContainer {
  flex-direction: column;
  padding: 0.8rem;
}

.footerBottomContainer {
  padding: 0.8rem;
}

.footerSocialsLinksContainer {
  margin-left: 0;
}

.footerTopContainer .logo {
  width: 100px;
}
